<div class="flex flex-col items-center justify-center min-h-screen gap-5 p-2">
    <div class="text-center">
        <p>Set a new password using the form below</p>
        <p>
            <span>If you remember it, you can login </span>
            <a class="link" href="/login">here</a>
        </p>
    </div>
    <div class="card bg-neutral shadow-xl max-w-4xl w-full">
        <div class="card-body">
            <div class="flex flex-col items-center justify-center gap-3 my-5">
                <img
                    class="max-w-64 w-full"
                    src="illustrations/reset-password.svg"
                />
                <h1 class="text-2xl">Reset Password</h1>
            </div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">New Password</legend>
                    <label
                        class="input w-full"
                        [class.input-error]="
                            resetPasswordForm.get('password')?.invalid &&
                            resetPasswordForm.get('password')?.touched
                        "
                    >
                        <input
                            [type]="showPassword ? 'text' : 'password'"
                            class="w-full"
                            formControlName="password"
                            placeholder="••••••••"
                        />
                        <button
                            class="btn btn-xs btn-square btn-ghost"
                            type="button"
                            (click)="togglePassword('main')"
                        >
                            @if (!showPassword) {
                                <i-lucide
                                    [img]="EyeIcon"
                                    class="my-icon"
                                ></i-lucide>
                            } @else {
                                <i-lucide
                                    [img]="EyeOffIcon"
                                    class="my-icon"
                                ></i-lucide>
                            }
                        </button>
                    </label>
                    @if (resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched) {
                        <p class="label text-error">
                            {{ getErrorMessage("password") }}
                        </p>
                    }
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Confirm Password</legend>
                    <label
                        class="input w-full"
                        [class.input-error]="
                            (resetPasswordForm.get('confirm_password')
                                ?.invalid &&
                                resetPasswordForm.get('confirm_password')
                                    ?.touched) ||
                            (resetPasswordForm.hasError('passwordMismatch') &&
                                resetPasswordForm.get('confirm_password')
                                    ?.touched)
                        "
                    >
                        <input
                            [type]="showConfirmPassword ? 'text' : 'password'"
                            class="w-full"
                            formControlName="confirm_password"
                            placeholder="••••••••"
                        />
                        <button
                            class="btn btn-xs btn-square btn-ghost"
                            type="button"
                            (click)="togglePassword('confirm')"
                        >
                            @if (!showConfirmPassword) {
                                <i-lucide
                                    [img]="EyeIcon"
                                    class="my-icon"
                                ></i-lucide>
                            } @else {
                                <i-lucide
                                    [img]="EyeOffIcon"
                                    class="my-icon"
                                ></i-lucide>
                            }
                        </button>
                    </label>
                    @if (
                        (resetPasswordForm.get('confirm_password')?.invalid &&
                        resetPasswordForm.get('confirm_password')?.touched) ||
                        (resetPasswordForm.hasError('passwordMismatch') &&
                        resetPasswordForm.get('confirm_password')?.touched)
                    ) {
                        <p class="label text-error">
                            {{ getErrorMessage("confirm_password") }}
                        </p>
                    }
                </fieldset>
                <div class="flex mt-5 justify-end gap-4 flex-wrap">
                    <button
                        type="submit"
                        class="btn lg:btn-wide btn-primary"
                        [disabled]="resetPasswordForm.invalid"
                    >
                        <i-lucide
                            [img]="ForgotPasswordIcon"
                            class="my-icon"
                        ></i-lucide>
                        Reset Password
                    </button>
                </div>
            </form>
            <div class="divider">OR</div>
            <div class="flex gap-2 justify-center items-center flex-wrap">
                <a class="btn btn-sm btn-primary" href="/login">
                    <i-lucide [img]="LogInIcon" class="my-icon"></i-lucide>
                    Login
                </a>
                <a class="btn btn-sm btn-primary" href="/register">
                    <i-lucide [img]="RegisterIcon" class="my-icon"></i-lucide>
                    Create Account
                </a>
            </div>
        </div>
    </div>
</div>
