<div class="card bg-warning/20 shadow-xl max-w-4xl w-full">
    <div class="card-body items-center text-center gap-6 p-8">
        <div
            class="w-24 h-24 rounded-full bg-warning/20 flex items-center justify-center"
        >
            <i-lucide [img]="Alert" class="w-12 h-12 text-warning my-icon"></i-lucide>
        </div>
        <div>
            <h1 class="text-3xl font-bold text-base-content">
                Email Not Verified
            </h1>
            <p class="text-base-content/70">
                Your email address hasn't been verified yet. Please check your
                inbox for a verification link.
            </p>
            <p class="text-sm text-base-content/50">
                Didn't receive the email? Check your spam folder or request a
                new one.
            </p>
        </div>
        <div class="flex w-full justify-center gap-4 flex-wrap">
            <button
                class="btn btn-primary btn-wide"
                [disabled]="emailSent"
                (click)="sendVerificationEmail()"
            >
                <i-lucide [img]="Mail" class="my-icon"></i-lucide>
                Resend Verification Email
            </button>
        </div>
    </div>
</div>
