<app-modal></app-modal>
<app-loading></app-loading>
<app-toast></app-toast>

@if (authService.me()) {
    <div class="drawer lg:drawer-open">
        <input id="drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <app-navbar></app-navbar>
            <app-theme-changer></app-theme-changer>
            <div class="container mx-auto my-5 p-5 max-md:p-2">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="drawer-side z-40">
            <label
                for="drawer"
                aria-label="close sidebar"
                class="drawer-overlay"
            ></label>
            <app-sidebar
                class="flex flex-col justify-between p-2 w-64 min-h-full bg-neutral text-base-content"
            >
            </app-sidebar>
        </div>
    </div>
} @else {
    <div class="flex flex-col h-screen">
        <app-theme-changer></app-theme-changer>

        <div class="flex-1">
            <router-outlet></router-outlet>
        </div>
    </div>
}
