<div class="flex flex-col items-center justify-center h-screen gap-5 p-2">
    <div class="card bg-neutral shadow-xl max-w-4xl w-full">
        <div class="card-body justify-center items-center">
            <img
                class="max-w-64 w-full"
                src="illustrations/not-found.svg"
            />
            <h1 class="text-2xl">Page Not Found</h1>
            <p class="text-center">
                The page you are looking for does not exist or has been moved.
            </p>
            <div class="mt-4 flex justify-center gap-2 flex-wrap w-full">
                <button class="btn lg:btn-wide btn-accent" (click)="goBack()">
                    <i-lucide [img]="Back" class="my-icon"></i-lucide>
                    Go Back
                </button>
                <a class="btn lg:btn-wide btn-primary" href="/">
                    <i-lucide [img]="Home" class="my-icon"></i-lucide>
                    Go to Home
                </a>
            </div>
        </div>
    </div>
</div>
